<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 <display-name>techciti</display-name>
 <welcome-file-list>
 <welcome-file>registration.jsp</welcome-file>
 </welcome-file-list>
 <servlet>
 <servlet-name>RegisterServlet</servlet-name>
 <servlet-class>com.ananya.controller.RegisterServlet</servlet-class>
 </servlet>
  <servlet>
 <servlet-name>LoginServlet</servlet-name>
 <servlet-class>com.ananya.controller.LoginServlet</servlet-class>
 </servlet>
  <servlet>
 <servlet-name>BlockedUserServlet</servlet-name>
 <servlet-class>com.ananya.controller.BlockedUserServlet</servlet-class>
 </servlet>

 <servlet>
 <servlet-name>AdminLoginServlet</servlet-name>
 <servlet-class>com.ananya.controller.AdminLoginServlet</servlet-class>
 </servlet>
  <servlet>
 <servlet-name>FileUploadServlet</servlet-name>
 <servlet-class>com.ananya.controller.FileUploadServlet</servlet-class>
 </servlet>
   <servlet>
 <servlet-name>LogoutServlet</servlet-name>
 <servlet-class>com.ananya.controller.LogoutServlet</servlet-class>
 </servlet>
  <servlet>
 <servlet-name>FileDownloadServlet</servlet-name>
 <servlet-class>com.ananya.controller.FileDownloadServlet</servlet-class>
 </servlet>
   <servlet>
 <servlet-name>FileShareServlet</servlet-name>
 <servlet-class>com.ananya.controller.FileShareServlet</servlet-class>
 </servlet>
  <servlet>
 <servlet-name>FileContentView</servlet-name>
 <servlet-class>com.ananya.controller.FileContentView</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>RegisterServlet</servlet-name>
 <url-pattern>/RegisterServlet</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
 <servlet-name>LoginServlet</servlet-name>
 <url-pattern>/LoginServlet</url-pattern>
 </servlet-mapping>
   <servlet-mapping>
 <servlet-name>BlockedUserServlet</servlet-name>
 <url-pattern>/BlockedUserServlet</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
 <servlet-name>AdminLoginServlet</servlet-name>
 <url-pattern>/AdminLoginServlet</url-pattern>
 </servlet-mapping>
   <servlet-mapping>
 <servlet-name>LogoutServlet</servlet-name>
 <url-pattern>/LogoutServlet</url-pattern>
 </servlet-mapping>
   <servlet-mapping>
 <servlet-name>FileDownloadServlet</servlet-name>
 <url-pattern>/FileDownloadServlet</url-pattern>
 </servlet-mapping>
   <servlet-mapping>
 <servlet-name>FileUploadServlet</servlet-name>
 <url-pattern>/FileUploadServlet</url-pattern>
 </servlet-mapping>
   <servlet-mapping>
 <servlet-name>FileShareServlet</servlet-name>
 <url-pattern>/FileShareServlet</url-pattern>
 </servlet-mapping>
   <servlet-mapping>
 <servlet-name>FileContentView</servlet-name>
 <url-pattern>/FileContentView</url-pattern>
 </servlet-mapping>
</web-app>